.HanCard h4 {
  font-size: 26px;
  line-height: 1px;
  font-family: "Amatic SC", cursive !important;
}

.HanCard .color1 {
  color: #1bbc9b;
} /*MOUNTAIN MEADOW*/
.HanCard .color2 {
  color: #c0392b; /*TALL POPPY*/
}

.HanCard {
  color: #013243; /*SHERPA BLUE*/
  width: 300px;
  height: 400px;
  background: #e0e1dc;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5),
    20px 0 60px rgba(0, 0, 0, 0.5);
  transition: 1s;
}

.HanCard .imgBox img {
  min-width: 250px;
  max-height: 400px;
  object-position: center;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.HanCard:hover {
  transform: perspective(2000px) rotate(15deg) scale(1.2) !important;
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5),
    0 10px 100px rgba(0, 0, 0, 0.5);
  left: 50%;
}

.HanCard:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #bac1ba;
  transform-origin: bottom;
  transform: skewX(-45deg);
}

.HanCard:after {
  content: "";
  position: absolute;
  top: 0;
  right: -5px;
  width: 5px;
  height: 100%;
  background: #92a29c;
  transform-origin: left;
  transform: skewY(-45deg);
}

.HanCard .imgBox {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left;
  transition: 0.7s;
  overflow: hidden;
}

.HanCard .bark {
  position: absolute;
  background: #e0e1dc;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.7s;
}

.HanCard:hover .imgBox {
  transform: rotateY(-135deg);
}

.HanCard:hover .bark {
  opacity: 1;
  transition: 0.6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, 0.4) inset;
}

.HanCard .details {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  z-index: -1;
  margin-top: 70px;
}

.HanCard .details p {
  font-size: 10px;
  line-height: 5px;
  transform: rotate(-10deg);
  padding: 0 0 0 20px;
  color: plum;
}

.HanCard .details h4 {
  text-align: center;
}

.text-right {
  text-align: right;
}
